### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file)

df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Find the total number of players by counting the unique SN
total_players = len(df["SN"].unique())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Find the number of unique items by counting the unique Item ID
unique_items = len(df["Item ID"].unique())

#Calculate the average price by taking the mean of the price column
avg_price = "${:.2f}".format(df["Price"].mean())

#Find the total number of purchases by couting the total Purchase IDs
total_purchases = df["Purchase ID"].count()

#Find the total revenue by taking the sum of the price column
revenue = "${:,.2f}".format(df["Price"].sum())

#Put all of the above items and their labels into a dictionary 
summary_dict = {"Number of Unique Items": unique_items, "Average Price": avg_price, 
                 "Number of Purchases": total_purchases, "Total Revenue": revenue}

#Convert that dictionary into a dataframe
summary_df = pd.DataFrame(summary_dict, index=[0])

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Drop the duplicate values for SN
unique_df = df.drop_duplicates("SN")

#Use the new unique dataframe to get value counts for each gender
unique_gender_count = unique_df["Gender"].value_counts()

#Calculate the percentage of each gender by dividing the gender count by the total players (from previous cell)
gender_percent = (unique_gender_count / total_players)*100

#Put all the above items into a new dataframe
gender_df = pd.DataFrame({"Total Count": unique_gender_count, "Percentage of Players": gender_percent})

pd.options.display.float_format = "{:.2f}%".format

gender_df

                       Total Count  Percentage of Players
Male                           484                 84.03%
Female                          81                 14.06%
Other / Non-Disclosed           11                  1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gen_df = df.groupby("Gender")

gender_count = gen_df["Gender"].count()
gender_count
gender_sum = gen_df["Price"].sum()
gender_sum
avg_price_gender = gender_sum / gender_count
avg_price_gender
avg_ppr_gender = gender_sum / unique_gender_count
avg_ppr_gender

gender_analysis = pd.DataFrame({"Purchase Count": gender_count, "Average Purchase Price": avg_price_gender, 
                                "Total Purchase Value": gender_sum, "Average Total Purchase Per Person": avg_ppr_gender})

pd.options.display.float_format = "${:.2f}".format

gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9.9, 14, 19, 24, 29, 34, 39, 100]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

df["Age Ranges"] = pd.cut(df["Age"], bins, labels=group_names, include_lowest=True)

#Drop the duplicate values for SN
unique_age_df = df.drop_duplicates("SN")

unique_age_df = unique_age_df.groupby("Age Ranges")

unique_age_count = unique_age_df["Age Ranges"].count()
unique_age_count

age_percent = (unique_age_count/total_players)*100
age_percent

age_df = pd.DataFrame({"Total Count": unique_age_count, "Percentage of Players": age_percent})

pd.options.display.float_format = "{:.2f}%".format

age_df

            Total Count  Percentage of Players
Age Ranges
<10                  17                  2.95%
10-14                22                  3.82%
15-19               107                 18.58%
20-24               258                 44.79%
25-29                77                 13.37%
30-34                52                  9.03%
35-39                31                  5.38%
40+                  12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_data = df.groupby("Age Ranges")

age_count = age_data["Age"].count()
age_count

age_sum = age_data["Price"].sum()
age_sum

avg_price_age = age_sum / age_count
avg_price_age

avg_ppr_age = age_sum / unique_age_count
avg_ppr_age

age_analysis = pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": avg_price_age, 
                                "Total Purchase Value": age_sum, "Average Total Purchase Per Person": avg_ppr_age})

pd.options.display.float_format = '${:,.2f}'.format

age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
purchase_count = df.groupby("SN").count()["Price"]
player_avg_price = df.groupby("SN").mean()["Price"]
player_sum = df.groupby("SN").sum()["Price"]

player_spending_data = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": player_avg_price, 
                                        "Total Purchase Value": player_sum})

pd.options.display.float_format = '${:,.2f}'.format

top_spenders = player_spending_data.sort_values("Total Purchase Value", ascending=False)

top_spenders.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame